<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.suzukitakahiro.trainalert"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Gpsによる現在位置取得 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- ネットワークによる現在位置取得 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_for_google_map"/>

        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.SearchStationActivity"
            android:screenOrientation="portrait"/>

        <!-- 指定時間に飛ばすIntentを受け取るレシーバー -->
        <receiver android:name=".Receiver.TimeReceiver">

            <!-- AlarmUtilでIntent発行時のAction設定値 -->
            <intent-filter>
                <action android:name="time_receiver"/>
            </intent-filter>
        </receiver>

        <!-- 位置情報を常時取得するサービス -->
        <service android:name=".Service.LocationService"/>

        <!-- アラーム位置プロバイダの登録 -->
        <provider
            android:name=".Db.LocationContentProvider"
            android:authorities="com.example.suzukitakahiro.trainalert.LocationContentProvider"
            android:exported="false"/>

        <provider
            android:name=".Db.MasterDb.MasterContentProvider"
            android:authorities="com.example.suzukitakahiro.trainalert.MasterContentProvider"
            android:exported="false"/>

    </application>

</manifest>